html {
  color: rgb(var(--off-black));
  font-family: sans-serif;
}

.bar {
  background: rgb(var(--dark-red));
  color: rgb(var(--off-white));

  width: 20em;
  height: 2em;
  margin: .5em;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.bar label {
  z-index: 10;
}

.bar .bar-inner {
  z-index: 5;

  height: 100%;

  background: rgb(var(--red));
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.bar,
.bar-inner {
  border-radius: 4px;
}