html {
  color: var(--off-black);
}

.bar {
  background: var(--dark-blue);
  color: var(--off-white);

  width: 20em;
  height: 2em;
  margin: .5em;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.bar label {
  z-index: 10;
}

.bar .bar-inner {
  z-index: 5;

  height: 100%;

  background: var(--blue);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  /*transition: width 0.2s*/
  ;
}

.bar,
.bar-inner {
  border-radius: 4px;
}